# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Ren'Py compiled files
*.rpyc

# Ren'Py persistent data
*.yaml

# Archive untouched files
cache/*
audio/*
gui/*
images/*
saves/*
staging/*
tl/*
*.txt